<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="style.css" />
    <meta charset="UTF-8"></meta>
    <title>Formularz do rejestracji nowego użytkownika</title>
</head>
<body>
<div id="registerForm">
<h1>Formularz do rejestracji nowego użytkownika</h1>
<!--/*@thymesVar id="address" type=""*/-->
<form action="#" method="post" th:action="@{/register}" th:object="${dtoUserRegistration}">


    <label > Nazwa konta użytkownika </label> <br>
    <td><input type="text" th:field="*{userAccountName}" placeholder="Nazwa konta użytkownika" /></td> <br>
    <td th:if="${#fields.hasErrors('userAccountName')}" th:errors="*{userAccountName}">userAccountName Error</td> <br> <br>

    <label > Miasto </label> <br>
    <input th:field="*{city}" placeholder="Miasto" /><br />

    <label > Województwo </label> <br>
    <input th:field="*{region}" placeholder="Województwo" /><br />

    <label > Ulica </label> <br>
    <input th:field="*{street}" placeholder="Ulica" /><br />

    <label > Numer domu </label> <br>
    <input th:field="*{number}" placeholder="Numer domu" /><br />

<!--    <label > Kod pocztowy </label> <br>-->
<!--    <input th:field="*{cityCode}" placeholder="Kod pocztowy" /><br />-->
<!--    <form action="" name="form" method="post">-->
        <label>Kod pocztowy</label> <br>
        <input type="kod_pocztowy" pattern="^[0-9]{2}-[0-9]{3}$" placeholder=" __-___" /><br />

    <label > E-mail </label> <br>
    <input th:field="*{loginByEmail}" type="email" placeholder="e-mail" /><br />
    <td th:if="${#fields.hasErrors('loginByEmail')}" th:errors="*{loginByEmail}">LoginByEmail Error</td> <br> <br>

    <label > Password </label> <br>
    <input th:field="*{password}" type="password" placeholder="Password" /><br /> <br>

    <input type="submit" value="Zarejestruj się" />

</form>
</div>
</body>
</html>

